<h3>Índice temático</h3>
<table>
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr>
			<td align="left"><a name="<%= quizes[i].tema %>" href="temas/<%= quizes[i].tema %>"><%= quizes[i].tema %> </a></td>
		</tr>
	<% } %>
</table><p>
